.login {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.buttonFolder{
    border: none;
    background: none;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.base{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: auto;
    width: auto;
    font-family: 'SF Pro', sans-serif;
    font-style: "regular";
}

.primary{
    padding: 10px;
    color: white;
    background-color: #007AFF;
}
.secondary{
    padding: 10px;
    color: black;
    background-color: white;
}
.dock{ 
    background: none;
    margin: 0 5px;
}
.marginLeft{
    margin-left: 10px;
}
.marginRigth{
    margin-right: 10px;
}

