.login {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}

.buttonFolder {
    border: none;
    background: none;
    display: flex;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
}

.base {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    height: auto;
    width: auto;
    font-family: 'SF Pro', sans-serif;
    font-style: "regular";
    font-weight: bold;
}

.primary {
    padding: 8px 10px;
    color: white;
    background-color: #007AFF;
}

.secondary {
    padding: 8px 10px;
    color: black;
    background-color: white;
    border: 1px solid rgb(0, 0, 0, 0.1);
}

.dock {
    height: 55px;
    width: 55px;
    background: none;
    margin: 0 3px;
}

.marginLeft {

    margin-left: 10px;
}

.marginRigth {
    margin-right: 10px;
}